fastapi
uvicorn
python-multipart
streamlit
requests
scikit-learn
pydantic
sentence-transformers
faiss-cpu
numpy
pandas
torch
torchvision
pillow
clip @ git+https://github.com/openai/CLIP.git
anthropic
python-dotenv